<div class="columns large-12 text-center">
    <p>&COPY; Ken W. Alger</p>
    <br>
    <div>
        Powered by:
        <br>
        <div class="row footer-logo">

                <div id="node-logo" class="columns small-4">
                    <img alt="node.js" src="/images/node_logo.svg" height="75.8333" width="182">
                </div>
                <div id="express-logo" class="columns small-4">
                    <img alt="express" src="/images/express.png" height="75.8333">
                </div>
                <div id="mongo-logo" class="columns small-4">
                    <img alt="MongoDB" src="/images/logo-mongodb.png" height="75.8333">
                </div>

        </div>
    </div>
</div>