<div class="columns large-12 text-center">
    <p>&COPY; Ken W. Alger</p>
    <br>
    <div>
        Powered by:
        <br>
        <div id="footer-logo">
            <img alt="node.js" src="/images/node_logo.svg" height="75.8333" width="182">
            <img alt="MongoDB" src="/images/logo-mongodb.png">
        </div>
    </div>
</div>