<div class="columns large-12 text-center">
    <h1 class="author">Ken W. Alger</h1>
</div>
<nav class="breadcrumbs">
    <li class="current"><a href="/">Home</a></li>
    <li><a href="entry">Enter Data</a></li>
    <li><a href="display">View Data</a></li>
    <li class="unavailable"><a href="#">Edit Data</a></li>
</nav>