<div class="columns large-8 large-offset-2">
    <br>
    <h3>Data Entered</h3>
        <div>
            <table border="1" cellspacing="0" cellpadding="3">
                <tbody>
                    <tr>
                        <th class="text-center">Operating System (OS)</th>
                        <th class="text-center">OS Version</th>
                        <th class="text-center">Notes</th>
                    </tr>

                </tbody>
            </table>
        </div>
</div>