<div class="columns large-8 large-offset-2">
    <br>
    <h3 class="text-center">Enter Data</h3>
    <form action="#" method="POST">
        Operating System (OS):
        <input type="text" name="OS" size="30"/>
        <br>
        OS Version:
        <input type="text" name="osVersion" size="30"/>
        <br>
        Notes:
        <input type="text" name="notes" size="150"/>
        <br>
        <input type="submit" value="Save" class="small round button" align="center"/>
    </form>
</div>