<div class="columns large-10 large-offset-1">
    <br>
    <span class="alert alert-box round text-center">Oops. It looks like something has gone wrong.</span>
    <br>
    <h1>{{message}}</h1>
    <h2>{{error.status}}</h2>
    <pre>{{error.stack}}</pre>
    <br>
    <p class="alert-box round text-center">Since this application was meant as a portfolio piece, errors likely mean I'm still looking for employment.</p>

</div>