<div class="columns large-8 large-offset-2">
    <br>
    <p>This is my implementation of a Node.js with Express application to store and edit OS, OS Version, and Notes data.</p>
    <ul class="vcard large-centered">
        <li class="fn">Ken W. Alger</li>
        <li class="street-address">778 Chehalis PL N</li>
        <li class="locality">Keizer</li>
        <li><span class="state">OR</span>, <span class="zip">97303</span></li>
        <li class="email"><a href="mailto:kenalger@comcast.net">kenalger@comcast.net</a></li>
    </ul>
</div>
<div class="columns large-8 pull-2">
    <a href="entry" class="button round">Enter Data</a>
</div>