<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='stylesheets/normalize.css' />
    <link rel='stylesheet' href='stylesheets/foundation.min.css' />
    <link rel='stylesheet' href='stylesheets/style.css' />
  </head>
  <body>
    <header class="row">
        {{> header}}
    </header>
        <div class="row"/>
            <div class="large-12 columns"/>
                {{{body}}}
            </div>
        </div>
    <footer class="row">
        {{> footer}}
    </footer>
  </body>
</html>
