body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.author {
    color: royalblue;
}

#node-logo {
    background-color: #303030;
}

#mongo-logo {
    background-color: #3B291F;
}

#express-logo {
    background-color: white;
}

.footer-logo {
    border-style: solid;
    border-color: black;
    border-width: 2px;

}